server:
  port: 8086

spring:
  application:
    name: supplier-service

  datasource:
    url: jdbc:mysql://localhost:3306/supplier_db
    username: root
    password: Root123$

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
